server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
          dialect: org.hibernate.dialect.PostgreSQL10Dialect

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: ${JWT_EXP_MS}

llm:
  qwen:
    apiKey: ${QWEN_API_KEY}
    model: qwen-max